@page "/login"

<PageTitle>Login</PageTitle>

<FluentBodyContent Style="overflow: hidden; max-width: 100vw;">
	<div class="wrapper">
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
		<div class="bubble"><span class="dot"></span></div>
	</div>

	<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalAlignment="@HorizontalAlignment.Center" Orientation="@Orientation.Vertical"
				 Style="overflow: hidden; height: 100%">
		<Logo />
		<FluentStack Orientation="@Orientation.Vertical" VerticalAlignment="@VerticalAlignment.Center" HorizontalAlignment="@HorizontalAlignment.Center" Style="
					overflow:hidden; width:450px;
					">
			<FluentTextField Placeholder="Email"
							 Appearance="FluentInputAppearance.Filled" @bind-Value="User.Email" Style="width: 100%; min-width: 400px" Id="Email" />

			<FluentTextField Placeholder="Password"
							 Appearance="FluentInputAppearance.Filled" @bind-Value="User.Password" TextFieldType="TextFieldType.Password" Style="width: 100%; min-width: 400px" Id="Password" />

			<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.Center"
						 VerticalAlignment="@VerticalAlignment.Center" Style="width:400px">

				<FluentButton OnClick="@HandleLoginAsync">
					<span class="fredoka menu-icon" style="font-size: 24px; margin:auto;">Login</span>
				</FluentButton>
				<FluentButton OnClick="@RedirectToRegister">
					<span class="fredoka menu-icon" style="font-size: 24px; margin:auto;">Register</span>
				</FluentButton>
			</FluentStack>
		</FluentStack>
	</FluentStack>

</FluentBodyContent>



