<FluentStack Orientation="@Orientation.Vertical"
			 VerticalAlignment="@VerticalAlignment.Center"
			 HorizontalAlignment="@HorizontalAlignment.Center"
			 Style="width:100%; border-radius: 25px; margin:30px; padding:30px">


	<button style="width: 200px;margin:auto;
			opacity: 0.8;
			padding: 10px;
			min-height: 60px;
			min-width: 120px;
			background: url('/images/button_bg.png');
			background-size: 100% 100%;" @onclick="@HandleMatchRequest">
		START
	</button>

	<PopupShort IsOpen="@_isMatched" OnClose="@AcceptGame">
		Match Completed!
	</PopupShort>
</FluentStack>


